<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{stock_code}} KD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Monitor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          KD<span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/kd/2800.HK/">2800.HK</a>
          <a class="dropdown-item" href="/kd/HSI/">HSI</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          History
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/history/2800.HK/">2800.HK</a>
          <a class="dropdown-item" href="/history/HSI/">HSI</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/backtesting">Backtesting</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron bg-dark text-center text-white">
  <h1>{{stock_name}} ({{stock_code}})</h1>
  <p>KD Index</p>
</div>

<div class="container">
  <canvas id="kdChart" width="400" height="200"></canvas>
</div>

<div class="container">
  <canvas id="priceChart" width="400" height="200"></canvas>
</div>

<div class="container">
  <h3>KD History (last 20 trading days)</h3>
  <p>The stochastic oscillator is a momentum indicator that uses support and resistance levels.</p>
  <p>What is KD? Find the <a target="_blank" href='https://www.moneydj.com/KMDJ/Wiki/WikiViewer.aspx?KeyID=76a316b6-c78e-4846-8cb3-89420e3ab819'>answer</a></p>
  <table class="table table-dark table-striped table-sm table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Close Price ($)</th>
        <th scope="col">K Value (%)</th>
        <th scope="col">D Value (%)</th>
      </tr>
    </thead>
    <tbody class="KValue">
  </table>
</div>

<div class="container">
  <h3>KD Prediction </h3>
  <p>The KD index for next trading day.</p>
  <table class="table table-dark table-striped table-sm table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">K Value (%)</th>
        <th scope="col">Price ($)</th>
        <th scope="col">Price ($)</th>
        <th scope="col">K Value (%)</th>
      </tr>
    </thead>
    <tbody class="NextKValue">
  </table>
</div>

<!-- debug -->
<!--
<div class="container">
  <div class="row">
      <p class="Testing"></p>1
  </div>
</div>
-->

<script>

    function draw_kd_chart(label, k_data, d_data) {
        var ctx = document.getElementById("kdChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label,
                datasets: [{
                    label: 'K Value',
                    data: k_data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    fill: false
                },{
                    label: 'D Value',
                    data: d_data,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
            }
        });
    }

  function draw_price_chart(label, price) {
        var ctx = document.getElementById("priceChart").getContext('2d');
        var priceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label,
                datasets: [{
                    label: 'Close Price',
                    data: price,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    fill: 'start',
                    steppedLine: true
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:false
                        }
                    }]
                },
            }
        });
    }

    $(document).ready(function() {
        $.getJSON("/kdindex/{{stock_code}}/" , function(result) {
            var date = []
            var kValue = []
            var dValue = []
            var priceValue = []

            $.each(result, function(i, field) {
                K = parseFloat(field.k)
                K = K * 100
                D = parseFloat(field.d)
                D = D * 100
                price = parseFloat(field.close)

                rowString = "<tr>"

                if (K>80) {
                  rowString = "<tr class=\"bg-danger\">"
                } else if (K<20) {
                  rowString = "<tr class=\"bg-success\">"
                }

                rowString += "<td>" + field.date + "</td>"
                rowString += "<td>" + field.close + "</td>"
                rowString += "<td>" + K.toFixed(2) + "</td>"
                rowString += "<td>" + D.toFixed(2) + "</td>"
                rowString += "</tr>"

                $('.KValue').append(rowString)

                date.push(field.date)
                kValue.push(K.toFixed(2))
                dValue.push(D.toFixed(2))
                priceValue.push(price)
            });

            draw_kd_chart(date, kValue, dValue)
            draw_price_chart(date, priceValue)

        });

        $.getJSON("/nextkdindex/{{stock_code}}/" , function(result) {
            var down_price = new Array()
            var up_price = new Array()

            $.each(result, function(i, field) {
                K = parseFloat(field.k)
                K = K * 100

                field.type
                net = (field.price - field.close)/field.close
                net = net * 100

                // create the data structure
                let data = {
                    price: field.price,
                    k: K,
                    net: net
                }

                if (field.type == 'DOWN') {
                    down_price.push(data)
                }

                if (field.type == 'UP') {
                    up_price.push(data)
                }
            });

            // only sort the down price is ok
            down_price.sort(function(a, b){return b.price - a.price})

            console.log("debug")
            console.log(down_price)
            for (i = 0; i < Math.max(up_price.length, down_price.length); i++) {
                down = ""
                up = ""

                // get the data from array
                if (i<down_price.length) {
                    down = down_price[i]
                    console.log("Down:" + down_price[i].price)
                }

                // get the data from array
                if (i<up_price.length) {
                    up = up_price[i]
                    console.log("Up:" + up_price[i].price)
                }

                rowString = "<tr>"

                // fill the down price side
                if (down != "") {
                  rowString += "<td>" + down.k.toFixed(2) + "</td>"
                  rowString += "<td>" + down.price + ' (' + down.net.toFixed(2) + '%)'+ "</td>"
                } else {
                  rowString += "<td></td>"
                  rowString += "<td></td>"
                }

                // fill the up price side
                if (up != "") {
                  rowString += "<td>" + up.price + ' (+' + up.net.toFixed(2) + '%)'+ "</td>"
                  rowString += "<td>" + up.k.toFixed(2) + "</td>"
                } else {
                  rowString += "<td></td>"
                  rowString += "<td></td>"
                }

                rowString += "</tr>"

                $('.NextKValue').append(rowString)
            }

        });
    });

</script>

</body>
</html>