<!doctype html>
<html>
    <head>
        <title> Comments </title>
        <meta charset='utf-8'>
    </head>
    <body>
        <h2>{{ r.name }} Comment</h2>
        {% if r.comment_set.all %}
            <p>There is/are {{ r.comment_set.all|length }} record(s)</p>
            <table>
                <tr>
                    <th>Customer</th>
                    <th>Time</th>
                    <th>Comment</th>
                </tr>
            {% for c in r.comment_set.all %}
                <tr>
                    <td> {{ c.user }} </td>
                    <td> {{ c.date_time | date:"F j, Y" }} </td>
                    <td> {{ c.content }} </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No comment</p>
        {% endif %}

        <br></br>
        {% for e in errors %}
            {{ e }} <br/>
        {% endfor%}

        <form action="" method="post">
            <table>
                <tr>
                    <td> <label for="user">Customer:</label> </td>
                    <td> <input id="user" type="text" name="user" value="{{user}}"> </td>
                </tr>
                <tr>
                    <td> <label for="email">Email:</label> </td>
                    <td> <input id="email" type="text" name="email" value="{{email}}"> </td>
                </tr>
                <tr>
                    <td> <label for="content">Comment:</label> </td>
                    <td> 
                        <textarea id="content" rows="10" cols="48" name="content" >{{content}}</textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="ok" value="yes">
            <input type="submit" value="Send">
        </form>

        {% if form.errors %}
            <p style="color:red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <form action="" method="post">
            <table>
                {{ form }}
            </table>
            <input type="hidden" name="ok" value="yes">
            <input type="submit" value="Send">
        </form>
    </body>
</html>