<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link rel="icon" href="../../favicon.ico">-->

    <title>JPY to HKD</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
<!--    <link href="theme.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">JPY to HKD</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#GIT">Unit</a></li>

            <li><a href="#RPM">RPM</a></li>
            <li><a href="#API">API</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

          </ul> -->
        </div>
          <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">      
      <!-- <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
      </div> -->

      {% block body %}
      <div class="col-lg-4">
        <form method="post" action="{{ url_for('jpdTohkd') }}">
          <div class="input-group">
            <span class="input-group-addon">¥</span>
            <input type="text" class="form-control" placeholder="{{ jpy }}" name="jpy_in">
            <span class="input-group-btn">
              <button class="btn btn-default" type="sumbmit">to HKD</button>
            </span>
          </div><!-- /input-group -->
        </form><!-- /form -->
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <form method="post" action="{{ url_for('jpdTohkd') }}">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" placeholder="{{ hkd }}" name="hkd_in">
            <span class="input-group-btn">
              <button class="btn btn-default" type="sumbmit">to JPY</button>
            </span>            
          </div><!-- /input-group -->
        </form><!-- /form -->
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <h5>100 JPY to {{ currentJPY }} HKD</h5>
        <h6>updated:{{ datetimeStr }} from <a target="_blank" href="http://forex-python.readthedocs.io/en/latest/index.html">forex-python</a></h6>
      </div><!-- /.col-lg-6 -->


      <div class="page-header">
        <h1 id="home">Yen</h1>        
      </div>
      
      {% for group in main.GetGroup() %}
      <a href="#{{ group }}"><button type="button" class="btn btn-primary">{{ group }}</button></a>
      {% endfor %}

      {% for group in main.GetGroup() %}

      <div class="page-header">
      <h1 id="{{ group }}">{{ group }}
      <a href="#home"><span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span></a>
      </h1>
      </div>
      <div class="panel panel-default">
        <table class="table table-bordered table-over">
          <thead>
            <tr>
              <th>JPY</th>
              <th>HKD</th>
            </tr>
          </thead>
          <tbody>
            {% for row in main.GetGroupMap(group).GetRowList() %}  
            {% if row.bold %}
            <tr>
              <td class="success">{{ row.jpd }}</td>
              <td class="success">{{ row.hkd }}</td>
            </tr>
            {% else %}
            <tr>
              <td>{{ row.jpd }}</td>
              <td>{{ row.hkd }}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>  
        </table>
      </div>
        
      {% endfor %}

      {% endblock %} 
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<!--    <script src="../../assets/js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
  
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">You've reached the end!</h5>
            <p class="grey-text text-lighten-4">Contact: Jackie Wong (jackiewong613@gmail.com)</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Scity
        </div>
        <div class="container">
        version 1.0.0 (updated on 19 Nov 2016)
        </div>
      </div>
  </footer>
</html>
