<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link rel="icon" href="../../favicon.ico">-->

    <title>TD Tools</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!--    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TD Tools</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#OTFC">OTFC</a></li>
<!--
            <li><a href="#RPM">RPM</a></li>
            <li><a href="#API">API</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
-->
          </ul>
        </div>
          <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
<!--
      <div class="jumbotron">
        <h1>OTFC Notifcation File</h1>
        <p>Use to monitor the RIC</p>
      </div>
-->
      {% block body %}

      <div class="page-header">
        <h1>OTFC notification files</h1>
      </div>

      <div class="row">    
        <div class="col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="notifactoin filter">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
        
      <h4>    
        <span class="label label-success">cloud02</span>
        <span class="label label-success">HKF01M</span>  
      </h4>
      <div class="row">    
        <div class="col-sm-6">
          <div class="list-group">
            <a href="#" class="list-group-item">
              cloud02_HKF01M_201605210921.xml
            </a>
            <a href="#" class="list-group-item active">cloud02_HKF01M_201605210921.xml</a>
            <a href="#" class="list-group-item">cloud02_HKF01M_201605210921.xml</a>
            <a href="#" class="list-group-item">cloud02_HKF01M_201605190221.xml</a>
            <a href="#" class="list-group-item">cloud02_HKF01M_201605181921.xml</a>
            {% for file in otfc.GetNotificationFiles() %}
              <a href="#{{ file }}" class="list-group-item">{{ file }}</a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
      </div>


<!--
      <div class="page-header">
        <h1>Buttons</h1>
      </div>
      
      <p>
        <button type="button" class="btn btn-sm btn-default">Default</button>
        <button type="button" class="btn btn-sm btn-primary">Primary</button>
        <button type="button" class="btn btn-sm btn-success">Success</button>
        <button type="button" class="btn btn-sm btn-info">Info</button>
        <button type="button" class="btn btn-sm btn-warning">Warning</button>
        <button type="button" class="btn btn-sm btn-danger">Danger</button>
        <button type="button" class="btn btn-sm btn-link">Link</button>
      </p>
-->
      
      {% for file in otfc.GetNotificationFiles() %}
        <div class="page-header">
          <h2 id="{{file}}">{{file}}</h2>
        </div>

        
        <p>
          {% for ric in otfc.GetRicList() %}
              <a class="btn btn-sm btn-primary" role="button" href="#{{ric}}">
                {{ric}}
              </a>
          {% endfor %}      
        </p>    
    
        {% for ric in otfc.GetRicList() %}
          <div class="page-header">
            <h3 id="{{ric}}" >{{ric}}</h3>
          </div>
          <div class="row">        
            <div class="col-md-3">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Field</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, value in otfc.GetRecordByRic("").iteritems() %}
                    <tr>
                      <td></td>
                      <td>{{key}}</td>
                      <td>{{value}}</td>
                    </tr>   
                  {% endfor %}  
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}          
      {% endfor %}

      {% endblock %}   
      <div class="page-header">
        <h3 id="HSIUV" >HSIUV</h3>
      </div>
      <div class="row">        
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>11</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>13</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>14</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>15</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>16</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>17</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>18</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>19</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>20</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
      </div>   
      <div class="page-header">
        <h3 id="0005.hk" >0005.hk</h3>
      </div>
      <div class="row">        
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>11</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>13</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>14</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>15</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>16</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>17</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td>18</td>
                <td>Larry</td>
                <td>the Bird</td>
              </tr>
              <tr>
                <td>19</td>
                <td>Mark</td>
                <td>Otto</td>
              </tr>
              <tr>
                <td>20</td>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>    
            </tbody>
          </table>
        </div>
      </div>  
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--    <script src="../../assets/js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
